xml/src/main/xsd/aht/monitoring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ahtutils.aht-group.com/monitoring"
	xmlns:mo="http://ahtutils.aht-group.com/monitoring"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="monitoring">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
