xml/src/main/xsd/aht/report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ahtutils.aht-group.com/report"
    xmlns:r="http://ahtutils.aht-group.com/report"
    xmlns:us="http://ahtutils.aht-group.com/status"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://ahtutils.aht-group.com/status" schemaLocation="status.xsd"/>
    <xsd:element name="reports">
	    <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:report" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="dir" type="xsd:string"/>
			<xsd:attribute name="resources" type="xsd:string"/>
			<xsd:attribute name="templates" type="xsd:string"/>
		</xsd:complexType>    
    </xsd:element>
    <xsd:element name="report">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:media" maxOccurs="2"/>
	           	<xsd:element name="example">
	           		<xsd:simpleType>
		               	<xsd:restriction base="xsd:string"/>
		            </xsd:simpleType>
		        </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="dir" type="xsd:string"/>
            <xsd:attribute name="ltr" type="xsd:boolean"/>
            <xsd:attribute name="rtl" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resources">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:resource" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="dir" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resource">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element name="value" maxOccurs="1">
	            	<xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="image"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="media">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="r:template" maxOccurs="1"/>
	            <xsd:element ref="r:jr" maxOccurs="unbounded"/>
 <!--                <xsd:element ref="chart:chart" maxOccurs="1"/>  -->
            </xsd:sequence>
            <xsd:attribute name="refId" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="dir" type="xsd:string"/>
	        <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="pdf"/>
						<xsd:enumeration value="xls"/>
						<xsd:enumeration value="chart"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
        </xsd:complexType>
    </xsd:element>
     <xsd:element name="jr">
        <xsd:complexType>
            <xsd:attribute name="type">
	            <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="mr"/>
						<xsd:enumeration value="sr"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="templates">
	    <xsd:complexType>
	            <xsd:sequence>
		            <xsd:element ref="r:template" maxOccurs="unbounded"/>
				</xsd:sequence>
		</xsd:complexType>    
    </xsd:element>
     <xsd:element name="template">
        <xsd:complexType>
           <xsd:sequence>
                <xsd:element ref="r:field" maxOccurs="unbounded"/>
                <xsd:element ref="r:element" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
     <xsd:element name="field">
        <xsd:complexType>
            <xsd:attribute name="type">
             <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="parameter"/>
						<xsd:enumeration value="field"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="expression" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="className" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="element">
		<xsd:complexType>
            <xsd:attribute name="type">
             <xsd:simpleType>
		            <xsd:restriction base="xsd:string">
						<xsd:enumeration value="page"/>
						<xsd:enumeration value="header"/>
						<xsd:enumeration value="footer"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="file" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="info">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="record">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:dateTime"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="subtitle">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="footer">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string"/>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="r:media" maxOccurs="unbounded"/>
                <xsd:element ref="r:jr" maxOccurs="unbounded"/>
                <xsd:element ref="r:file" maxOccurs="1"/>
                <xsd:element ref="r:hash" maxOccurs="1"/>
                <xsd:element ref="r:user" maxOccurs="1"/>
                <xsd:element ref="r:labels" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="labels">
		<xsd:complexType>
            <xsd:sequence>
            	<xsd:element ref="r:label" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
   <xsd:element name="label">
        <xsd:complexType>
            <xsd:attribute name="scope" type="xsd:string"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="value" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="file">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="hash">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="user">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="xlsDefinition">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:xlsWorkbook" maxOccurs="unbounded"/>
	           	
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="dataHandler">
        <xsd:complexType>
	            <xsd:attribute name="class"     type="xsd:string"/>
				<xsd:attribute name="handledBy" type="xsd:string"/>
        </xsd:complexType>
	</xsd:element>
	<xsd:element name="dataAssociation">
		<xsd:complexType>
	            <xsd:attribute name="column"   type="xsd:string"/>
				<xsd:attribute name="property" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="dataAssociations">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="r:dataAssociation" maxOccurs="unbounded"/>
			</xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="dataHandlers">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="r:dataHandler" maxOccurs="unbounded"/>
			</xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="importStructure">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element ref="r:dataAssociations" maxOccurs="1"/>
				<xsd:element ref="r:dataHandlers" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="targetClass" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
        <xsd:element name="xlsWorkbook">
        <xsd:complexType>
            <xsd:sequence>
            	<xsd:element ref="r:xlsSheets" maxOccurs="1"/>
	            <xsd:element ref="r:xlsSheet" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsSheets">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="r:xlsSheet" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="query" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsSheet">
        <xsd:complexType>
            <xsd:sequence>
            	<xsd:element ref="us:langs" maxOccurs="1"/>
	            <xsd:element ref="r:xlsColumn" maxOccurs="unbounded"/>
	           	<xsd:element ref="r:importStructure" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="query" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsColumn">
        <xsd:complexType>
            <xsd:sequence>
	            <xsd:element ref="us:langs" maxOccurs="1"/>
                <xsd:element ref="us:descriptions" maxOccurs="1"/>
                <xsd:element ref="r:xlsTransformation" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="column" type="xsd:string"/>
            <xsd:attribute name="required" type="xsd:boolean"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="example" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="xlsTransformation">
        <xsd:complexType>
            <xsd:attribute name="dataClass" type="xsd:string"/>
            <xsd:attribute name="formatPattern" type="xsd:string"/>
            <xsd:attribute name="beanProperty" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
