xml/src/main/xsd/aht/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ahtutils.aht-group.com/status"
    xmlns:s="http://ahtutils.aht-group.com/status"
    xmlns:sec="http://ahtutils.aht-group.com/security"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://ahtutils.aht-group.com/security" schemaLocation="security.xsd"/>
	<xsd:element name="statuses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="s:status" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="group" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="status">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
                <xsd:element ref="s:parent" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="parent">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="tracked">
        <xsd:complexType>
        	<xsd:sequence>
                <xsd:element ref="sec:user" maxOccurs="1"/>
                <xsd:element ref="s:status" maxOccurs="1"/>
                <xsd:element ref="s:statement" maxOccurs="1"/>
                <xsd:element ref="s:declaration" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="record" type="xsd:dateTime"/>
        </xsd:complexType>
    </xsd:element>
    
	<xsd:element name="result">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Type -->
    <xsd:element name="types">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:type" maxOccurs="unbounded"/>
                <xsd:element ref="s:mainType" maxOccurs="unbounded"/>
                <xsd:element ref="s:subType" maxOccurs="unbounded"/> 
            </xsd:sequence>
            <xsd:attribute name="group" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="type">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
                <xsd:element ref="s:parent" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="mainType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="subType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="condition">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="domain">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
                <xsd:element ref="s:parent" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="scopes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:scope" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="size" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="scope">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="categories">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:category" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="size" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="category">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:transistions" maxOccurs="1"/>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="langs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:lang" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="lang">
        <xsd:complexType>
        	<xsd:attribute name="version" type="xsd:int"/>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="translation" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="descriptions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:description" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="description">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                	<xsd:attribute name="version" type="xsd:int"/>
                    <xsd:attribute name="key" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="transistions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:status" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="translations">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:translation" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="translation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="key" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Organisation -->
    <xsd:element name="organisation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="function">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:parent" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- People -->
    <xsd:element name="responsible">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- PCM -->
    <xsd:element name="phase">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="subPhase">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Document / Data -->
    <xsd:element name="original">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="copy">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="origin">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="source">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    
	<xsd:element name="legend">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="unit">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="frequency">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Biodiversity -->
    <xsd:element name="family">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="order">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="class">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Biology -->
    <xsd:element name="gender">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Evaluation -->
    <xsd:element name="satisfaction">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Methods -->
    <xsd:element name="procurementMethod">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
        <xsd:element name="evaluationMethod">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Statements -->
    <xsd:element name="statement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="declaration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
	<xsd:element name="freeze">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Levels -->
    <xsd:element name="level">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="s:langs" maxOccurs="1"/>
                <xsd:element ref="s:descriptions" maxOccurs="1"/>
                <xsd:element ref="s:tracked" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="code" type="xsd:string"/>
            <xsd:attribute name="group" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="image" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="position" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
